// General
button:hover {
    transform: scale(1.2);
}

// Load more - homepage button

.load-button {
    align-self: center;
    width: 10rem;
    padding: 0.4rem 2.2rem;
    margin-bottom: 1.3rem;
    background-color: $lightblue;
    font-size: 0.7rem;
    font-weight: 800;
    color: $white;
    border: 1px solid transparent;
    &:active {
        background-color: rgb(66, 6, 66);
    }
}

.footer-button {
    width: 8rem;
    padding: 0.2rem;
    background-color: inherit;
    margin-top: 0.8rem;
    font-weight: bold;
    color: $white;
    border: 3px solid $lightblue;
}


// Comics and news pages
.construction.cards {
   .back {
       width: 20rem;
       margin-top: 3rem;
       padding: 0.3rem;
       background-color: $lightgray;
       font-weight: bold;
       color: $white;
       border: 3px solid $lightblue;
   }
}