// Footer

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    border-top: 1rem solid $lightblue;
    background-color: $lightgray;
}

.footer.wrapper {
   flex-direction: row;
   .socialmedia-icons li a img {
       width: 55px;
       margin-top: 0.8rem;
   }
}